.start-screen {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    img {
        padding: 22px;
    }
}

.title {
    width: 60vw;
    min-width: 300px;
    max-width: 700px;
}


.logo {
    width: 40vw;
    min-width: 150px;
    max-width: 300px;
}

.start-btn {
    width: 40vw;
    min-width: 200px;
    max-width: 300px;
    cursor: pointer;

    &:hover {
        transition: linear 125ms ease-in-out;
        transform: scale(1.05);
        filter: brightness(1.25);
    }

}