<div class="bar-position">
    <app-player *ngFor="let player of game.players; let i = index;" [ngStyle]="{'top.px': 22 + (i * 155)}"
        [playerActive]="i == game.currentPlayer" [name]="player"></app-player>
</div>
<section>
    <div class="card-stack">
        <img *ngFor="let c of [0, 1, 2, 3, 4]; let i = index;" [ngStyle]="{'right.px': 128 + i * 5}"
            src="assets/img/cards/card_cover.png" alt="Card Cover">
        <img class="front-card" style="right: 153px" (click)="takeCard()" src="assets/img/cards/card_cover.png"
            alt="Card Cover">

        <img *ngFor="let card of game.playedCards; let i = index" class="played-cards card"
            src="assets/img/cards/{{ card }}.png" alt="Played Cards">

        <img class="pick-card card" style="right: 153px" (click)="takeCard()" *ngIf="game.pickCardAnimation"
            src="assets/img/cards/{{ game.currentCard }}.png" alt="Card Cover">
    </div>
</section>
<app-game-info [card]="game.currentCard"></app-game-info>

<button mat-fab color="warn" class="btn-add" (click)="openDialog()">
    <mat-icon>add</mat-icon>
</button>