section {
    background-image: url(/assets/img/playground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    filter: brightness(0.9);
}

.card-stack {
    position: relative;

    img {
        width: 120px;
        height: 190px;
        position: absolute;
        border-radius: 10px;
        top: -94px;
    }
}

.front-card {
    cursor: pointer;

    &:hover {
        transform: scale(1.05) translateY(-10px);
        transition: all 125ms ease-in-out;
    }
}

.played-cards {
    right: 153px;
    transform: scale(1) translateX(352px) translateY(11px) rotate(-5deg);
}

.pick-card {
    animation: pick-card-animation 1s ease-in-out;
    transform: scale(1) translateX(352px) translateY(11px) rotate(-5deg);
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.5);
    }

    60% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1) translateX(352px) translateY(11px) rotate(-5deg);
    }
}

.bar-position {
    width: 100%;
    display: flex;
    justify-content: center;
}

app-player {
    transform: scale(0.6);
    position: absolute;
    bottom: 0;
    left: 16px;
}