<section>
    <div class="card-stack">
        <img *ngFor="let c of [0, 1, 2, 3, 4]; let i = index;" [ngStyle]="{'right.px': 128 + i * 5}"
            src="assets/img/cards/card_cover.png" alt="Card Cover">
        <img class="front-card" style="right: 153px" (click)="takeCard()" src="assets/img/cards/card_cover.png"
            alt="Card Cover">
        <img class="pick-card card" style="right: 153px" (click)="takeCard()" *ngIf="pickCardAnimation"
            src="assets/img/cards/{{ currentCard }}.png" alt="Card Cover">
        <img *ngFor="let card of game.playedCards; let i = index" class="played-cards card" src="assets/img/cards/{{ card }}.png" alt="Played Cards">
        <img class="pick-card card" style="right: 153px" (click)="takeCard()" *ngIf="pickCardAnimation"
        src="assets/img/cards/{{ currentCard }}.png" alt="Card Cover">
    </div>
</section>